:root{
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --white-color:#ffffff;
    --accent:#2196F3;
    --grey:rgba(255,255,255,0.6);
    --secondary-background-color:#F5F4FA;
    --black:#00000;
    --dark-grey-color:#2F303A;
}

body{
    background-color:var(--white-color);
    color:var(--main-text-color);
    font-family: 'Raleway', sans-serif, 'Roboto', sans-serif;
}
.span-web{
    color:var(--accent);
}

.span-studio{
    color:var(--black);
}

/* site-nav */
.site-nav .link{
    color: var(--main-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent);
}

.auth-nav a{
    color:var(--secondary-text-color);
}

.auth-nav a:hover,
.auth-nav a:focus{
    color:var(--accent);
}

.hero{
    background-color:var(--dark-grey-color);
}

.hero-title{
    color:var(--white-color);
}

.hero-button{
    background-color:var(--accent);
    color:var(--white-color);
}

.features{
    background-color:var(--white-color);
}

.title{
    color: var(--main-text-color);
}

.section-title{
    color:var(--main-text-color);
}

.team{
    background-color:var(--secondary-background-color);
}

.team-title{
    color:var(--main-text-color);
}

.team-subtitle{
    color:var(--main-text-color);
}

.text{
    color:var(--secondary-text-color);
}

footer{
    background-color:var(--dark-grey-color);
}

.white-studio{
    color:var(--white-color);
}

.map{
    color:var(--white-color);
}
.contact{
    color:var(--grey);
}

footer a:hover,
footer a:focus{
    color:var(--accent);
}

/* Portfolio */

h1{
    display: none;
}

.button.list{
    background-color:var(--secondary-background-color);
    color:var(--main-text-color);
}

.button.list:hover,
.button.list:focus{
background-color:var(--accent);
color:var(--white-color);
}

.content-features h2{
    color:var(--main-text-color);
}

.content-features p{
    color:var(--main-text-color);
}
