:root{
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --white-color:#ffffff;
    --accent:#2196F3;
    --grey:rgba(255,255,255,0.6);
    --secondary-background-color:#F5F4FA;
    --black:#000;
    --dark-grey-color:#2F303A;
}

body{
    background-color:var(--white-color);
    color:var(--main-text-color);
    font-family:'Roboto', sans-serif, 'Raleway', sans-serif;
}

.logo{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.span-web{
    color:var(--accent);
}

.span-studio{
    color:var(--black);
}


.site-nav{
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent);
}

.site-nav a{
    text-decoration: none;
}

.auth-nav{
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.auth-nav a{
    color:var(--secondary-text-color);
    text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus{
    color:var(--accent);
}

.hero{
    background-color:var(--dark-grey-color);
}

.hero-title{
    color:var(--white-color);
    font-size: 44px;
    line-height: 1.4;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button{
    background-color:var(--accent);
    color:var(--white-color);
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.06em;

}

.features{
    background-color:var(--white-color);
}

.title{
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.section-title{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.section-title img{
    width: width: 370px;;
}

.team{
    background-color:var(--secondary-background-color);
}

.team-title{
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.team-subtitle{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.team-text{
    color:var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team img{
    width: 270px;
}

footer{
    background-color:var(--dark-grey-color);
}

footer a{
    text-decoration: none;
}

div{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.white-studio{
    color:var(--white-color);
}

.map{
    color:var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.contact{
    color:var(--grey);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

footer a:hover,
footer a:focus{
    color:var(--accent);
}



/* Portfolio */

.projects-headline{
    display: none;
}

.button.list{
    background-color:var(--secondary-background-color);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.03em;
}

.button.list:hover,
.button.list:focus{
background-color:var(--accent);
color:var(--white-color);
}

.content-features h2{
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.content-features p{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.content-features img{
    width: 370px;
}

ul{
    list-style: none;
}